TLS 1.3 as default

- Enable for Certificate Master
- Check whether it works for SCEPman + Client Certificates

[Azure App Services do not support TLS 1.3 + Optional Client Certificates](https://techcommunity.microsoft.com/blog/appsonazureblog/upcoming-tls-1-3-on-azure-app-service-for-web-apps-functions-and-logic-apps-upda/3974138?after=MjQuMTB8Mi4xfGl8MTB8MTMyOjB8aW50LDQxNjA5MDEsNDA0MzQxNg#:~:text=Using%20client%20certificates%20with%20TLS%201.3%C2%A0). Therefore, we'll stick with TLS 1.2 on SCEPman until Microsoft adds this feature based on [RFC 8446, Section 4.6.2](https://www.rfc-editor.org/rfc/rfc8446#section-4.6.2).